body, .ui-widget {
	margin: 0px;
	font-family: 'Droid Sans', DroidSansWeb, 'Segoe UI', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.ui-widget {
	font-size: 1em;
}

.page-content{
	padding: 8px;
	vertical-align: top;
	height: 400px;
}